
<html>
    <head>
        
        <script language='JavaScript' type='text/javascript' src='/wordBlog/adam/static/jquery-1.10.2.js'></script>
        <link rel='stylesheet' type='text/css' href='/wordBlog/adam/static/style.css'>
        <script language='JavaScript' type='text/javascript' src='/wordBlog/adam/static/mailcheck.js'></script>
        <script type="text/javascript" src="/wordBlog/adam/static/jquery.cookie.js"></script>
        <script language='JavaScript' type='text/javascript' src='/wordBlog/adam/static/common.js'></script>
        <script type="text/javascript" src="/wordBlog/adam/static/jquery.loadmask.js"></script>
        <script language='JavaScript' type='text/javascript' src="{{ STATIC_URL }}jquery.qtip.js"></script>
        <link rel='stylesheet' type='text/css' href="{{ STATIC_URL }}jquery.qtip.css">
        <script language='JavaScript' type='text/javascript' src='/wordBlog/adam/static/focusUnfocusField.js'></script>
        <script language='JavaScript' type='text/javascript' src='/wordBlog/adam/static/addMailCheck.js'></script>
        <script>
            $.fn.buildPasswordReset = function(){
                var i = 0
                var addon = []
                addon[i++] = "<div id='overlay'>"
                addon[i++] = "</div>"
                addon[i++] = "<div id='passwordResetDiv' style='float:left;width: 550px;padding:0;border:0px solid red;'>"
                    


                    addon[i++] = "<div style='font-size: 24px;font-weight: bold;margin-bottom: 10px;'>"
                        addon[i++] = "Zabudol si heslo?"
                    addon[i++] = "</div>"
                    addon[i++] = "<div id='contento' class='inpFSpace'>"
                    
                        addon[i++] = "<div style='margin: 10px 0px;text-align:justify'>"
                            addon[i++] = "Uveď svoj prihlasovací email, na ktorý ti zašleme inštrukcie k nastaveniu nového hesla.Možno budeš musieť skontrolovať svoju spam zložku alebo odblokovat no-reply@monsters.com"
                        addon[i++] = "</div>"
                          
                        
                        addon[i++] = "<form id = 'frm' action='"+$.general.prefixReg+"/password/resetPost/' method='post'>{% csrf_token %}"
                                
                            addon[i++] = '<div class="inpFSpace">'
                                addon[i++] = '{{ form.username }}'
                                addon[i++]= '<span id="usrSpan" class="plac" style="left:8px;top:6px">Email</span>'
                                addon[i++]= "<div id ='errUsername' class='block err' style='display:block'>"
                                addon[i++]= "</div>" 
                            addon[i++] = '</div>' 
                            addon[i++] = "<div id ='showCaptcha' class='inpFSpace'>"
                            addon[i++] = "</div>"    
                        addon[i++] = "</form>"
                        addon[i++] = "<div id='captchaForm'>"
                        addon[i++] = "</div>"
                        addon[i++] = "<div style='display:block;border:0px solid black;height:30px;width:100%' class='inpFSpace'>"
                            addon[i++] = "<input id ='return' type='button' class = 's' value='Späť' style='cursor:pointer;padding-left:10px;padding-right:10px;margin-right:0px;text-align:center;width:60px'>"
                            addon[i++] = "<input id = 'sendForm' type='submit' class='s' value='OK' style='cursor:pointer;float:right;padding-left:10px;padding-right:10px;'>"
                            
                        addon[i++] = "</div>"
                    addon[i++] = "</div>"
                addon[i++] = "</div>"
                
                
                $('#mainP').append(addon.join(''))
                $.fn.addReturnHandler()
                $.fn.addFadeOutSpanHandler($('#id_username'),$('#usrSpan'));
                $('#id_username').on('keydown change keyup paste',function(){
                
                    
                    $.fn.hideSpan($(this),$('#usrSpan'))
                })
                
                $('#id_username').focus(function(){
                    $.fn.changeOpacity(0,$( "#usrSpan" ))
                    $('#errUsername').text('')
                })
                $('#id_username').focusout(function(){
                    $.fn.changeOpacity(1,$( "#usrSpan" ))
                    $.fn.addMailCheck($('#id_username'),$('#errUsername'))
                })
                
                $('#sendForm').click(function(){

                    var frm = $('#frm')
                    xhr = $.ajax({
                        type: frm.attr('method'),
                        url: frm.attr('action'),
                        data: frm.serialize(),
                        cache: false,
                        beforeSend: function(){
                            

                            if ($.fn.emailCheck() == 0){
                                return false;
                            }
                            
                            var online = navigator.onLine;    // Detecting the internet connection
                            if(!online) {
                               alert('You\'re Offline now...');
                               return false
                            }
                            
                            $('#passwordResetDiv').mask('Prosím čakajte...')
                            $('#overlay').css('display','block')
                            
                        },             
                        success: function (msg) {
                            alert(msg)
                            var data = $.parseJSON(msg)
                            if (data.status == 'NOTOK'){
                                
                                $('#errUsername').text('')
                                if (data.errors.username){
                                    $('#id_username').css('border-color','red')                        
                                    $('#errUsername').append('Zadaná emailová adresa nemá pridelený užívateľský účet.')
                                }
                                $.fn.getErrsCaptcha(data)

                                
                            }else{
                                var email = $.trim($('#id_username').val())
                                $('#contento').children().remove()
                                var i = 0
                                var addon = []
                                
                                addon[i++]= "<div style='border:0px solid black;text-align:justify'>Na adresu "+email+" vám bol zaslaný mail s ďalšími inštrukciami.</div>"
                                addon[i++]= "<div style='display:block;position:relative;height:30px;border:0px solid black' class='inpFSpace'>"
                                    addon[i++]= "<input id ='return' type='button' class = 's' value='Späť' style='float:right;cursor:pointer;padding-left:10px;padding-right:10px;margin-right:0px;text-align:center;width:60px'>"
                                addon[i++]= "</div>"
                                $('#contento').append(addon.join('')).css('margin-top','25px')
                                $.fn.addReturnHandler()
                                
                            }
                       
                                         
                        },
                        error: function(msg) {
                        alert('error')
                        },
                        complete:function(msg){
                            $('#passwordResetDiv').unmask()
                            $('#overlay').css('display','none')
                            
                            
                        },
                    }).done(function(){
                                            
                        
                    })
                })
                $.fn.buildCaptcha('{{ formCap }}');
                $('#captchaSpan').addClass('resetPasswdCaptcha')
                
            
            }
            
            $.fn.emailCheck = function(){
                var flag = $.fn.addMailCheck($('#id_username'),$('#errUsername')) 
                    
                flag = $.fn.checkCaptcha(flag)
                    
                    
                    
                    
                    
                if (flag == 1){
                    return 0
                }else{
                    return 1
                }
                    
                    
                    
                
            }
            
            
            $( document ).ready(function() {
                $.fn.buildPasswordReset()
                var i = 0
                var addon = []
                
                
                {% if param == 1 %}
                    $('#errUsername').append('Odkaz na reset hesla je neplatný, pravdepodobne preto, že už bol raz použitý.')
                    
                {% endif %}
                
                
                
                
                
                
            

            })
        </script>
    </head>
    <body>
        <div id='mainP' class='chPass'>
        </div>
    </body>
</html>





