<html>
    <head>
        <script language='JavaScript' type='text/javascript' src='/wordBlog/adam/static/showPassword.js'></script>
        <script language='JavaScript' type='text/javascript' src='/wordBlog/adam/static/focusUnfocusField.js'></script>
        <script>
        
            
        
        
            $.fn.buildPasswordChange = function(){
                var i = 0
                var addon = []
                addon[i++] = "<div id = 'changePasswd' class= '' style= 'border: 1px solid #7A858D;'>"
                    addon[i++] = "<div style='border-top-right-radius: 6px;border-top-left-radius: 6px'>"
                        addon[i++] = "<div id='topLDiv' style='margin:25px'>"
                            addon[i++] = "<div style='display:inline-block;font-size:18px'>"
                                addon[i++] = "Zmena hesla"
                            addon[i++] = "</div>"
                            addon[i++] = "<div id='close-btn' class='close-btn6' style='display:inline-block;float:right'>"
                            addon[i++] = "</div>"
                        addon[i++] = "</div>"
                    addon[i++] = "</div>"
                
                
                
                    addon[i++] = "<div style='padding-bottom:25px;border-top: 1px solid #e5e5e5;background: #fff;border-bottom-right-radius: 6px;border-bottom-left-radius: 6px;' class='loginBackg'>"
                        addon[i++]= "<div style='' class='contento'>"
                            addon[i++] = "<form id ='form' action='/app/accounts/password/change/' method='post'>{% csrf_token %}"
                                
                                addon[i++] = '<div style="margin-top:25px;position:relative">'
                                    addon[i++] = '{{ form.old_password }}'
                                    addon[i++] = '<span id="oldPasswordSpan" class="plac" style="top:7px;left:8px">Staré heslo</span>'
                                    addon[i++] = "<div id='showP' style='' class='showP'>"
                                    addon[i++] = "</div>"
                                    addon[i++] = "<div id ='errOldPassword' class='block err' style='display:block'>"
                                    addon[i++] = "</div>"
                                addon[i++] = '</div>'
                                
                                addon[i++] = '<div class="inpFSpace">'
                                    addon[i++] = '{{ form.new_password1 }}'
                                    addon[i++] = '<span id="newPassword1Span" class="plac" style="top:7px;left:8px">Nové heslo</span>'
                                    addon[i++] = "<div id='showP1' style='' class='showP'>"
                                    addon[i++] = "</div>"
                                    addon[i++] = "<div id ='errNewPassword1' class='block err' style='display:block'>"
                                    addon[i++] = "</div>"
                                addon[i++] = '</div>'
                                addon[i++] = '<div class="inpFSpace">'
                                    addon[i++] = '{{ form.new_password2 }}'
                                    addon[i++] = '<span id="newPassword2Span" class="plac" style="top:7px;left:8px">Nové heslo (ešte raz)</span>'
                                    addon[i++] = "<div id='showP2' style='' class='showP'>"
                                    addon[i++] = "</div>"
                                    addon[i++] = "<div id ='errNewPassword2' class='block err' style='display:block'>"
                                    addon[i++] = "</div>"
                                addon[i++] = '</div>'
                                addon[i++] = "<div id ='showCaptcha' class='inpFSpace'>"
                                addon[i++] = "</div>"
                                
                            addon[i++] = "</form>"
                            addon[i++] = "<div id='captchaForm'>"
                            addon[i++] = "</div>"
                            addon[i++] = "<div style='width:100%;height:30px' class='inpFSpace'>"
                                addon[i++] = "<input id ='send' type='button' value='OK' class='s' style='float:right;cursor:pointer;padding-left:10px;padding-right:10px;'>"
                            addon[i++] = "</div>"
                        addon[i++] = "</div>"
                    addon[i++] = "</div>"
                addon[i++] = "</div>"
                $('#mainCh').append(addon.join(''))
                $.fn.addCloseButtonHandler();
                $('#id_old_password').showPassword({
                    appTo: 'showP',
                    linkClass: 'tyrkys',
                    linkText: 'Ukázať heslo',
                    showPasswordLinkText: 'Skryť heslo',
                    showPasswordInputClass: 'sold',
                    idInput: 'idP'
                    
                });
                $('#id_new_password1').showPassword({
                    appTo: 'showP1',
                    linkClass: 'tyrkys',
                    linkText: 'Ukázať heslo',
                    showPasswordLinkText: 'Skryť heslo',
                    showPasswordInputClass: 'sold',
                    idInput: 'idP1'
                    
                });
                $('#id_new_password2').showPassword({
                    appTo: 'showP2',
                    linkClass: 'tyrkys',
                    linkText: 'Ukázať heslo',
                    showPasswordLinkText: 'Skryť heslo',
                    showPasswordInputClass: 'sold',
                    idInput: 'idP2'
                    
                });
                
                $.fn.addFadeOutSpanHandler($('#id_old_password'),$('#oldPasswordSpan'))
                $.fn.addFadeOutSpanHandler($('#id_new_password1'),$('#newPassword1Span'))
                $.fn.addFadeOutSpanHandler($('#id_new_password2'),$('#newPassword2Span'))
                $.fn.addFadeOutSpanHandler($('#idP'),$('#oldPasswordSpan'))
                $.fn.addFadeOutSpanHandler($('#idP1'),$('#newPassword1Span'))                
                $.fn.addFadeOutSpanHandler($('#idP2'),$('#newPassword2Span'))
                
                
                $('#id_old_password').focus(function(){
                    $.fn.changeOpacity(0,$( "#oldPasswordSpan" ))
                    $('#errOldPassword').text('')
                })
                $('#id_old_password').focusout(function(){
                $.fn.changeOpacity(1,$( "#oldPasswordSpan" ))
                    $.fn.checkPass(0,$('#id_old_password'),$('#idP'),$('#errOldPassword'))
                
                })
                $('#id_new_password1').focus(function(){
                    $.general.ok1 = 0
                    $.general.item1 = ''
                    $.fn.changeOpacity(0,$( "#newPassword1Span" ))
                    $('#errNewPassword1').text('')
                })
                $('#id_new_password1').focusout(function(){
                    $.fn.changeOpacity(1,$( "#newPassword1Span" ))
                    var L = $.fn.checkPass(0,$('#id_new_password1'),$('#idP1'),$('#errNewPassword1'))
                    $.general.ok1 = L[1]
                    $.general.item1 = L[2]
                    $.fn.checkEquality($.general.ok1,$.general.item1,$.general.ok2,$.general.item2,$('#id_new_password2'),$('#idP2'),$('#errNewPassword2'))
                
                })
                $('#id_new_password2').focus(function(){
                    $.fn.changeOpacity(0,$( "#newPassword2Span" ))
                    $.general.ok2 = 0
                    $.general.item2 = ''
                    $('#errNewPassword2').text('')
                })
                $('#id_new_password2').focusout(function(){
                    $.fn.changeOpacity(1,$( "#newPassword2Span" ))
                    var L = $.fn.checkPass(0,$('#id_new_password2'),$('#idP2'),$('#errNewPassword2'))
                    $.general.ok2 = L[1]
                    $.general.item2 = L[2]
                    $.fn.checkEquality($.general.ok1,$.general.item1,$.general.ok2,$.general.item2,$('#id_new_password2'),$('#idP2'),$('#errNewPassword2'))
                
                })
                
                
                $('#send').click(function(){
                    $.fn.copyInputFieldValues('id_old_password','idP')
                    $.fn.copyInputFieldValues('id_new_password1','idP1')
                    $.fn.copyInputFieldValues('id_new_password2','idP2')     
                    var frm = $('#form')
                    xhr = $.ajax({
                        type: frm.attr('method'),
                        url: frm.attr('action'),
                        data: frm.serialize(),
                        cache: false,
                        beforeSend: function(){
                            
                            
                            
                            if ($.fn.checkPasswords() == 0){
                                console.log('returnedFalse')
                                return false;
                            }
                            
                            
                        },             
                                  
                        success: function (msg) {
                            console.log(msg)
                            var data = $.parseJSON(msg)
                            if (data.status == 'OK'){
                                $.fn.unlockBackground()                              
                
            
                                
                                
                            }else{
                                $.fn.getErrsCaptcha(data)
                            }

                                                                
                        },
                        error: function(msg) {
                        alert('error')
                        },
                        complete:function(msg){
                            
                            
                        },
                    }).done(function(){
                                            
                        
                    })
                })
                $.fn.buildCaptcha('{{ formCap }}');
                $('#captchaSpan').addClass('changePasswdCaptcha')
            }
            $.fn.checkPasswords = function(){
                
                var flag = $.fn.checkPass(flag,$('#id_old_password'),$('#idP'),$('#errOldPassword'))[0]

                              
                var L = $.fn.checkPass(flag,$('#id_new_password1'),$('#idP1'),$('#errNewPassword1'))
                var flag = L[0]
                $.general.ok1 = L[1]
                $.general.item1 = L[2]
                var L = $.fn.checkPass(flag,$('#id_new_password2'),$('#idP2'),$('#errNewPassword2'))
                var flag = L[0]
                $.general.ok2 = L[1]
                $.general.item2 = L[2]
                $.fn.checkEquality($.general.ok1,$.general.item1,$.general.ok2,$.general.item2,$('#id_new_password2'),$('#idP2'),$('#errNewPassword2'))
                
                
                
                var flag = $.fn.checkCaptcha(flag)
                
                
                      

                if (flag == 1){
                    return 0
                }else{
                    return 1
                }    
            }
            
            
            
            
            
            
        
            $( document ).ready(function() {
                $.general.ok1 = 0
                $.general.ok2 = 0
                $.general.item1 = ''
                $.general.item2 = ''
                $.fn.buildPasswordChange()
                

                
                        
            })
        </script>
    </head>
    <body>
        <div id='mainCh' class='changePassword'>

        </div>
    </body>
</html>


